flows_nuc-2.json
[
    {
        "id": "46011140.f61e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41bc2793.9d2ac",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "292c0666.62b94a",
        "type": "inject",
        "z": "46011140.f61e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "5b94ce31.aae16"
            ]
        ]
    },
    {
        "id": "5b94ce31.aae16",
        "type": "debug",
        "z": "46011140.f61e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "239c3ead.39305a",
        "type": "1-Wire",
        "z": "46011140.f61e8",
        "identifier": "",
        "name": "",
        "format": "1",
        "x": 540,
        "y": 420,
        "wires": [
            []
        ]
    }
]